---
layout: default
title: "Archives"
---
<article class="post-container">
  <h1 class="page-heading">{{ site.title }}</h1>
  <hr>
  <h2>{{ page.title }}</h2>
  
  <ul class="post-list">
    {% for post in site.posts %}
      {% unless post.hidden == true %}
      <li class="post-item">
        <span class="post-date">
            {{ post.date | date: "%Y-%m-%d" }}
        </span>

        <div class="post-entry-body">
            <a class="post-title" href="{{ post.url | relative_url }}">
                {{ post.title }}
            </a>
            {% if post.description %}
            <div class="post-description">
                {{ post.description }}
            </div>
            {% endif %}
        </div>
      </li>
      {% endunless %}
    {% endfor %}
  </ul>

</article>